* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .icon {
    padding: 10px;
    color: black;
    min-width: 50px;
    text-align: center;
    margin-left: 10px;
    font-size: 30px;
  }
  
  
  .order {
    font-size: 20px;
    letter-spacing: 3px;
  }
  
  .deliveryaddress {
    border:  1px solid black;
    width: 100%;
    height: auto;
  }
  .title {
    font-size: 25px;
    font-weight: 600;
  }
  
  .customerinfo {
    padding: 10px 60px;
    font-size:  18px;
  }
  
  th{
      border: 1px solid black;
      padding: 10px 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  img {
    float: left;
  }
  td {
    padding: 30px 10px;
   }
  
  .hr {
    float: right;
    width: 300px;
   }
  
   .total {
     float: right;
     margin-top: 10px;
   }
  
  .button {
    width: 100%;
  
    border:  1px solid black;
    cursor: pointer;
    background: none;
    padding: 5px 20px;
  }