@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container0{
     
    margin-bottom: 50%;
}
.container1{
    height:100%;
    padding:80px;
   
}
.container1 h1{
    text-align: center;
    border-bottom: 3px solid grey;
    padding-bottom: 20px;
}
.container2{
   display: flex;
   margin: 20px;
}
.container2 h4{
   padding: 5px;
}
.container2 form{
   margin-left: 70%;
}
.container4{
   display: flex;
   flex-wrap: wrap;
   width : auto;
   height: auto;
}

.container5{
   
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   margin: 3px;
   transition: 0.4s;
   border: none;
   position:relative;  
   
}
.container5 img{
   width: 250px;
   height: 250px;
}
.container5 img,p,h3 {
   padding-left: 35px;
}
.container5 a{
   text-decoration: none;
   color: rgb(20, 20, 20);
}
.container5 .add-cart{
 width: 94%;
 background: rgb(197, 197, 197);
 transition: 0.4s;
 opacity: 0;
 cursor: pointer;
 text-align: center;
}
.container5:hover .cart1,
.container5:hover .cart2,
.container5:hover .cart3,
.container5:hover .cart4,
.container5:hover .cart5,
.container5:hover .cart6,
.container5:hover .cart7,
.container5:hover .cart8,
.container5:hover .cart9{
 margin-top: 20px;
 bottom: 50px;
 opacity: 1;
 padding: 10px;
 text-decoration: none;
} 

.container5:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 